#button li a {
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #ffffff;
    }
    table {
        width: 100%;
      }
      
      th {
        height: 50px;
      }
      form {
        width: 100%;
        background-color: #2175bc;
      }
      
      a {
        list-style-type: circle;
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
      }